Repository Coly010/ng-rspack-build, pull requests merged in 2025-03, with the labels that each got.

#121 docs: update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: 🦾 CI/CD, 📖 documentation

#124 feat(build,rsbuild-plugin-angular): add support for incremental hydration
  packages/build/src/lib/config/create-config.ts
  packages/build/src/lib/plugins/angular-rspack-plugin.ts
  packages/build/src/lib/ssr/server.ts
  packages/rsbuild-plugin-angular/eslint.next.config.js
  packages/rsbuild-plugin-angular/src/lib/plugin/plugin-angular.ts
  packages/rsbuild-plugin-angular/src/lib/ssr/server.ts
Labels: 🧩 build, 🧩 rsbuild-plugin-angular, 📖 documentation

#126 fix: fix eslint-next script for fully refactored state
  e2e/rsbuild-csr-css-e2e/eslint.config.js
  e2e/rsbuild-csr-css-e2e/eslint.next.config.js
  e2e/rsbuild-csr-css-e2e/mock/fixtures/rsbuild.config.ts
  e2e/rsbuild-csr-css-e2e/mock/setup/cleanup-app-css.setup.ts
  e2e/rsbuild-csr-css-e2e/mock/setup/create-app-css.setup.ts
  e2e/rsbuild-csr-css-e2e/mock/setup/setup.bin.ts
  e2e/rsbuild-csr-css-e2e/mock/utils.ts
  e2e/rsbuild-csr-css-e2e/playwright.config.ts
  e2e/rsbuild-csr-css-e2e/project.json
  tools/reports/eslint-next.md
  tools/scripts/eslint-next/index.ts
Labels: 🛠️ tooling, 📖 documentation, 🧪 testing
